@font-face {font-family: LatinModern;src: url('fonts/LatinModernMath.woff2') format('woff2');}
@font-face {font-family: JBMono;src: url('fonts/JetBrainsMono-Light.woff2') format('woff2');}
@font-face {font-family: SHSerif;src: url('fonts/SourceHanSerifCN-VF.otf.woff2') format('woff2');}
body {font-family: SHSerif;font-weight: 400;}
h1, h2, h3, h4, h5, h6, a, b {font-weight: 700;}
code {font-family: JBMono;color: white;background-color: black;font-variant-ligatures: none;}
ms {font-family: JBMono;color: white;background-color: black;}
pre:has(> code) {background-color: black;}
Em {font-style: normal;font-family: Courier, KaiTi;}
.qed {text-align: right;}
math {font-family: LatinModern, SHSerif;}
mtext {font-weight: 400;}
cite {font-style: normal;}
